<div
  class="body-wrapper max-w-[1920px] mx-auto h-screen flex flex-col bg-gray-200 overflow-auto"
>
  <!-- Virtual header -->
  <header
    class="min-h-[2rem] max-h-[2rem] w-full bg-transparent border-transparent select-none"
  ></header>

  <!-- Header -->
  <app-header
    class="fixed z-20 w-full h-[2rem] max-w-[1920px] min-w-[480px] bg-white shadow-sm"
  ></app-header>

  <!-- Body -->
  <div class="w-full h-auto min-w-[480px] flex flex-grow mx-auto">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>

    <!-- Content -->
    <div class="w-full h-full p-4">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- End body -->
</div>
